<h2>Control Panel</h2>
<hr/>
<div class="container mt-2">
    <a class="btn btn-default btn-control-panel" asp-action="Index" asp-controller="RelBAC">
        <img src="/img/gavel.svg" alt="Authorizations"><br />Authorizations
    </a>
</div>

