@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <main>
        <div class="d-flex flex-column align-items-center p-5">
        @if (ViewData["ErrorDscr"]!=null)
        {
           
            <div class="alert alert-danger" role="alert" style="min-width:350px">
                <h4 class="alert-heading">Error</h4>
                @ViewData["ErrorDscr"]
            </div>
            
        }
            <div>
                <h2>Log in</h2>
                <hr />
                    <form method="post">
                        <div class="form-group mb-3">
                            <label for="Username">Username</label>
                            <input name="Username" class="form-control" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="Password">Password</label>
                            <input type="password" name="Password" class="form-control" />
                        </div>
                        <div class="form-group mb-3">
                            <button type="submit" class="btn btn-primary">Log in</button>
                        </div>
                    </form>
            </div>
        </div>
    </main>
</body>
</html>