@using Wallet.Models;
@model Delegation
@{var authClaim = ViewData["vc"] as Credential;}

<h2 class="p-2 bg-light border rounded-1">Credentials</h2>
<hr />
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">Credentials</a></li>
        <li class="breadcrumb-item active">@authClaim!.jti</li>
    </ol>
</nav>
<div class="card mt-3" id="Add">
    <h5 class="card-header">Add new delegation</h5>
    <div id="form" class="m-3">
        <form action="/Credentials/AddDelegation" method="post">
            <input type="hidden" asp-for="ObjectId" value="@authClaim!.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mb-3">
                <div class="col-sm-8">
                    <label asp-for="AuthType" class="form-label"></label>
                    <select asp-for="AuthType" asp-items="@Delegation.AuthTypes" class="form-select">
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-7">
                    <input type="text" id="Pattern" class="form-control" placeholder="Search..." />
                </div>
                <div class="col-sm">
                    <button type="button" class="btn btn-primary" onclick="getAuthClaims()">Search</button>
                </div>
            </div>
            <div class="row mb-3">
                <div class="mt-3" id="ObjectIds">

                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Create">
        </form>
    </div>
</div>

@section Scripts {
    <script>function getAuthClaims() {
            var objectIdsDiv = document.getElementById("ObjectIds");
            var type = document.getElementById("AuthType").value;
            var pattern = document.getElementById("Pattern").value;
            if (type == 1) {
                var request = fetch('/Account/ListUsers?pattern=' + pattern).then((response) => {
                    response.text().then((data) => {
                        const obj = JSON.parse(data);
                        for (var i = 0; i < obj.length; i++) {
                            var html = `
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="AuthClaim" id="${obj[i].username}" value="${obj[i].username}">
                                    <label class="form-check-label" for="${obj[i].username}">
                                        ${obj[i].username}
                                    </label>
                            </div>`
                           
                            objectIdsDiv.innerHTML += html
                        }
                    })
                })
            }
        }</script>
}