<div class="container w-50 p-2  border rounded-1">
    <h2>Access request</h2>
    <hr />
    <div class="alert alert-success" role="alert">
        <h4>Access granted</h4>
        <p>Access to the selected credential has been granted</p>
    </div>
    <a class="btn btn-link" asp-action="Index" role="button">Back to home</a>
</div>