@using CloudWallet.Models.Didself
@{
    var dids = ViewData["DIDs"] as List<Didself>;
}
<h2 class="p-2 bg-light border rounded-1">Credentials</h2>
<hr />
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">Credentials</a></li>
        <li class="breadcrumb-item active">New Credential</li>
    </ol>
</nav>
<div class="card mt-3" id="Add">
    <h5 class="card-header">Add new credential</h5>
    <div id="form" class="m-3">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3 row">
                <label for="issuerURL" class="col-sm-2 col-form-label">Issuer URL</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="issuerURL" name="issuerURL" />
                </div>
            </div>
            <div class="mb-3 row">
                <label for="preAuthorizedCode" class="col-sm-2 col-form-label">Pre-authorized code</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="preAuthorizedCode" name="preAuthorizedCode" />
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="listGroupRadio" class="form-label">Select DID</label>
                <ul class="list-group">
                    @foreach(var did in dids!){
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="radio" name="did" value="@did.Id" id="@did.Id">
                        <label class="form-check-label" for="firstRadio">@did.Name</label>
                    </li>
                    }
                </ul>
            </div>
            <input type="submit" class="btn btn-primary" value="Add">
        </form>
    </div>
</div>