@using Wallet.Models;
@model IEnumerable<Delegation>
@{var authClaim = ViewData["vc"] as Credential;}

<h2 class="p-2 bg-light border rounded-1">Credentials</h2>
<hr />
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">Credentials</a></li>
        <li class="breadcrumb-item active">@authClaim!.jti</li>
    </ol>
</nav>
<div class="btn-toolbar" role="toolbar" aria-label="...">
    <a class="btn" asp-action="AddDelegation" asp-route-id="@authClaim.Id">
        <img src="~/img/add.svg" alt="AddDelagation"><br />Add
    </a>
</div>
<table class="table table-striped panel">
    <thead>
        <tr>
            <th style="width: 75%" scope="col">Delegated to</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.AuthClaim)</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn">
                        <img src="~/img/delete.svg" alt="key" title="Delete" height="25"><br />
                        <small>Delete</small>
                    </a>
                </td>
            </tr>
        }
</table>

