<h2 class="p-2 bg-light border rounded-1">did:self Identifiers</h2>
<hr />
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">DIDs</a></li>
        <li class="breadcrumb-item active">Delete</li>
    </ol>
</nav>
<div class="container w-50 p-2 ">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Warning</h4>
        <p>Deleted DIDs cannot be recoverd.</p>
        <hr>
        <p class="mb-0">Are you sure you want to perform this action?</p>
        <form asp-action="Delete">
            <a class="btn btn-link" asp-action="Index" role="button">Cancel</a>
            <input type="submit" value="Yes, delete" class="btn btn-danger" />
        </form>
    </div>
</div>