@using Wallet.Models.Didself
@model Delegation
<h2 class="p-2 bg-light border rounded-1">did:self Identifiers</h2>
<hr/>
<nav aria-label="breadcrumb">
     <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Didself" asp-action="Index">DIDs</a></li>
        <li class="breadcrumb-item active">did:self:iQ9PsBKOH1nLT9FyhsUGvXyKoW00yqm_-_rVa3W7Cl0</li>
    </ol>
</nav>

<div class="accordion" id="didSelf">
    
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button show" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Delegations
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#didSelf">
            <div class="accordion-body">
                <form asp-action="Delegate" method="post">
                    <input type="hidden" asp-for="ObjectId" value="@ViewData["DidSelfId"]" />
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" asp-for="isEnabled">
                        <label class="form-check-label" asp-for="isEnabled" >Enable Delegation</label>
                    </div>
                     <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Client authentication method</label>
                        <select asp-for="AuthType" asp-items="@Delegation.AuthTypes" class="form-select">
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Client authentication data</label>
                        <textarea class="form-control" asp-for="AuthClaim" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
