@using iam.Models.RelBAC
@model IEnumerable<Authorization>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active">Authorizations</li>
    </ol>
</nav>
<div class="btn-toolbar" role="toolbar" aria-label="...">
    <a class="btn" asp-action="Create">
        <img src="~/img/add.svg" alt="Create"><br />Add
    </a>
</div>

<table class="table table-striped panel">
    <thead>
        <tr>
            <th style="width: 70%" scope="col">Authorizations</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>
                    <a class="btn" onclick="showDetailsModal('@item.Id')" ">
                        <img src="img/info.svg" alt="details" title="Details" height="25"><br />
                        <small>Details</small>
                    </a>
                    <a class="btn" onclick="showOfferModal('@item.Id')">
                        <img src="img/share.svg" alt="offer" title="Offer" height="25"><br />
                        <small>Offer</small>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn">
                        <img src="img/delete.svg" alt="key" title="Delete" height="25"><br />
                        <small>Delete</small>
                    </a>
                </td>
            </tr>
        }
</table>
<!-- Modal -->
<div class="modal fade" id="offerModal" tabindex="-1" aria-labelledby="offerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="offerModalLabel">Credential Offer</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="input-group mb-3">
                <input id="credentialOffer" class="form-control" type="text" value="" aria-label="" disabled readonly>
                <a id="credentialOfferHref" href="" target="_blank" class="btn btn-outline-secondary">
                <img src="img/open.svg" alt="open in new tab" title="open in new tab" >
                </a>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
  </div>
</div>

<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="detailsModalLabel">Relationships</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <code><pre id="relations"></pre></code>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function showOfferModal(code) {
            const walletURL = "http://localhost:8002/Credentials/Offer?credential_offer_uri=" + encodeURIComponent("http://localhost:8001/Offer/Index/" + code);
            document.getElementById('credentialOffer').value = walletURL;
            document.getElementById('credentialOffer').aria = walletURL;
            document.getElementById('credentialOfferHref').href = walletURL;
            const offerModal = new bootstrap.Modal(document.getElementById('offerModal'), {})
            offerModal.show();
        }

        function showDetailsModal(id) {
            document.getElementById('relations').innerHTML = "";
            var request = fetch('/RelBAC/Details/' + id).then((response) => {
                response.text().then((data) => {
                    document.getElementById('relations').innerHTML = data
                })
            })
            const offerModal = new bootstrap.Modal(document.getElementById('detailsModal'), {})
            offerModal.show();
        }
    </script>
}
