<h2>Control Panel</h2>
<hr/>
<div class="container mt-2">
    <a class="btn btn-default btn-control-panel" asp-action="Index" asp-controller="Role">
        <img src="/img/groups.svg" alt="Roles"><br />Role assignments
    </a>
</div>

